* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursiv
}

body {
    background: linear-gradient(100deg,#FFDE98, #7D61BE) ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    background: #fbf5ef;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    border: 3px #131373 solid;
    box-shadow: 0 10px 25px rgba(32,32,146, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: #131373;
    padding-bottom: 0.5rem;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #131373;
    border-radius: 2px;
}

#generate-btn {
    background: linear-gradient(45deg, #AA3EAA, #5454B6);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 1rem;
    transition: all 0.2s ease;
}

#generate-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(32,32,146, 0.5);
}

#generate-btn:active{
    transform: translateY(0);
}

.palette-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.color-box {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(32,32,146, 0.1);
    transition: transform 0.2s;
    background: white;
}

.color-box:hover{
    transform: translateY(-3px)
}

.color {
    height: 120px;
    cursor: pointer;
}

.color-info {
    background-color: white;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.hex-value {
    font-weight: 500;
    letter-spacing: 0.5px;
}

.copy-btn {
    cursor: pointer;
    color: #5454B6;
    transition: color 0.2s;
}

.copy-btn:hover {
    color: #131373;
}

@media(max-width: 768px) {
    .palette-container{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}